body{
    background-image: url(image/latar_belakang1.jpg);
    background-size: cover;
}

.form-inline a{
    color: white;
}

.container-box{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow:  5px 5px 12px 2px black;
}

.heading h2{
    font-size: 70px;
    color: aliceblue;
}

.col img{
    width: 50px;
    height: 50px;
}

.cstumer{
    margin-top: 100px;
}

.cntact{
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.heading p{
    font-size: 15px;
    color: aliceblue;
}

.form-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.form-box .inputan1 input{
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border: none;
    border-radius: 50px;
    outline: none;
    background: rgba(192, 192, 192, 0.3);
    padding-left: 45px;
}

.form-box .inputan1 p{
    font-weight: bold;
}

.form-box .inputan2 input{
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border:none;
    border-radius: 50px;
    outline: none;
    background: rgba(192, 192, 192, 0.3);
    padding-left: 45px;
}

.form-box .inputan2 p{
    font-weight: bold;
}

.form-box .inputan3 input{
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border:none;
    border-radius: 50px;
    outline: none;
    background: rgba(192, 192, 192, 0.3);
    padding-left: 45px;
}

.form-box .inputan3 p{
    font-weight: bold;
}

::placeholder{
    color: grey;
}

input{
    padding-right: 20px;
    padding-left: 20px;
    color: grey;
}

.tombol button{
    background-color: #3895D3;
    border-radius: 20px;
    width: 200px;
    color: white;
}

.modal-body p{
    text-align: center;
    font-size: 10px;
}

h5 .modal-title{
    text-align: center;
}

#lupa{
    font-size: 10px;
    color: black;
}

.containertxt{
    margin-top: 30%;
    margin-left: 10%;
}

.containertxt h1{
    font-size: 60px;
    color: red;
    text-shadow: 3px 3px 2px grey;
}

#logitxt{
    margin-bottom: 15%;
}

.navbar{
    background-color: red;
}